<!DOCTYPE html>
<html lang="pt-ES">
    <head>
        <meta charset="UTF-8">
        <title>Fuzzy Logic System for Covid Diagnostique</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="icon" type="image/png" href="Imagenes/HomeAI_logo.png">
        <script src="script.js"> </script>
    </head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/"><img src="Imagenes/icon.png" alt="Logo HomeAI" /></a>
            <div class="brand">
                <a href="/">Diagnosticador de COVID-19</a>
                <a href="" class="menu"><img src="Imagenes/menu.png" alt=""></a>
            </div>
        </div>
        <div class="nav">
                <ul class="">
                    <li class="nav-item active">
                        <a class="" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="/funcmemb.html" >Funciones de Membresia</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="http://fontenele.github.io/bootstrap-navbar-dropdowns/" target="_blank">Github</a>
                    </li>
                </ul>
        </div>
    </header>
    <!-- <section class="formulario">
        <div class="container" id="formulario"> -->
    <main class="main2">
        <div>
           <h3>Funciones de Membresía</h3>
            <h9>Galería de los plots de las funciones de membresías de los () variables de entrada y la variable de salida del presente proyecto.</h4> 
        </div>
        <div class="funciones">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotFiebre.png"> 
                    <img src="Imagenes/FuncionesMembresia/plotFiebre.png" alt="Funciones de Membresia de Fiebre" width="500" height="300">
                    </a> 
                    <div class="desc">Síntoma de Fiebre</div>
                </div>
                <div class="gallery-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officia qui laboriosam quis asperiores debitis totam nam, numquam ipsum est modi reiciendis aliquam itaque laborum deleniti deserunt. Omnis, et tenetur.</p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotEdad.png">
                    <img src="Imagenes/FuncionesMembresia/plotEdad.png" alt="Funciones de Membresia de Edad" width="500" height="300">
                    </a>
                    <div class="desc">Rango de Edades</div>
                </div>
                <div class="gallery-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officia qui laboriosam quis asperiores debitis totam nam, numquam ipsum est modi reiciendis aliquam itaque laborum deleniti deserunt. Omnis, et tenetur.</p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotDiabetes.png">
                        <img src="Imagenes/FuncionesMembresia/plotDiabetes.png" alt="Funciones de Membresia de Diabetes" width="500" height="300">
                        </a>
                        <div class="desc">Diabetes - Niveles de glucosa en la sangre</div>
                </div>
                <div class="gallery-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officia qui laboriosam quis asperiores debitis totam nam, numquam ipsum est modi reiciendis aliquam itaque laborum deleniti deserunt. Omnis, et tenetur.</p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotHistV.png">
                        <img src="Imagenes/FuncionesMembresia/plotHistV.png" alt="Funciones de Membresia de Historial de Viajes" width="500" height="300">
                        </a>
                        <div class="desc">Historial de Viajes referido al contacto con algún infectado</div>
                </div>
                <div class="gallery-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officia qui laboriosam quis asperiores debitis totam nam, numquam ipsum est modi reiciendis aliquam itaque laborum deleniti deserunt. Omnis, et tenetur.</p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotGarganta.png">
                        <img src="Imagenes/FuncionesMembresia/plotGarganta.png" alt="Funciones de Membresia de dolor de garganta" width="500" height="300">
                        </a>
                        <div class="desc">Dolor de garganta</div>
                </div>
                <div class="gallery-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officia qui laboriosam quis asperiores debitis totam nam, numquam ipsum est modi reiciendis aliquam itaque laborum deleniti deserunt. Omnis, et tenetur.</p>
                </div>
            </div>
            
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotTos.png">
                        <img src="Imagenes/FuncionesMembresia/plotTos.png" alt="Funciones de Membresia de Tos" width="500" height="300">
                        </a>
                        <div class="desc">Grado de Tos</div>
                </div>
                <div class="gallery-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officia qui laboriosam quis asperiores debitis totam nam, numquam ipsum est modi reiciendis aliquam itaque laborum deleniti deserunt. Omnis, et tenetur.</p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotPerdida.png">
                        <img src="Imagenes/FuncionesMembresia/plotPerdida.png" alt="Funciones de Membresia de Pérdida de Olfato y/o Gusto" width="500" height="300">
                        </a>
                        <div class="desc">Pérdida de los sentidos de olfato y gusto</div>
                </div>
                <div class="gallery-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officia qui laboriosam quis asperiores debitis totam nam, numquam ipsum est modi reiciendis aliquam itaque laborum deleniti deserunt. Omnis, et tenetur.</p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotRespira.png">
                        <img src="Imagenes/FuncionesMembresia/plotRespira.png" alt="Funciones de Membresia de Problemas Respiratorios" width="500" height="300">
                        </a>
                        <div class="desc">Problemas Respiratorios</div>
                </div>
                <div class="gallery-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officia qui laboriosam quis asperiores debitis totam nam, numquam ipsum est modi reiciendis aliquam itaque laborum deleniti deserunt. Omnis, et tenetur.</p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotPecho.png">
                        <img src="Imagenes/FuncionesMembresia/plotPecho.png" alt="Funciones de Membresia de Dolor en el pecho" width="500" height="300">
                        </a>
                        <div class="desc">Dolor en el pecho</div>
                </div>
                <div class="gallery-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officia qui laboriosam quis asperiores debitis totam nam, numquam ipsum est modi reiciendis aliquam itaque laborum deleniti deserunt. Omnis, et tenetur.</p>
                </div>
            </div>
        </div>
        <h2 class="con-title">Conclusion</h2>
        <div class="responsive-conclusion">
            <div class="gallery">
                <a target="_blank" href="Imagenes/FuncionesMembresia/plotConclu.png">
                    <img src="Imagenes/FuncionesMembresia/plotConclu.png" alt="Funciones de Membresia de Conclusion" width="500" height="300">
                    </a>
                    <div class="desc">Conclusion del diagnóstico</div>
            </div>
            <div class="gallery-info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officia qui laboriosam quis asperiores debitis totam nam, numquam ipsum est modi reiciendis aliquam itaque laborum deleniti deserunt. Omnis, et tenetur.</p>
            </div>
        </div>
    </main>
    

    

    

    

    
    <div class="clearfix"></div>
<!-- </div>
</section> -->

</body>
</html>
