<!DOCTYPE html>
<html lang="pt-ES">
    <head>
        <meta charset="UTF-8">
        <title>Fuzzy Logic System for Covid Diagnostique</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="icon" type="image/png" href="Imagenes/HomeAI_logo.png">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="script.js"> </script>
    </head>
<body>
    <header class="site-header">
        <div class="site-identity">
            <a href="/"><img src="Imagenes/logo helping others dedos v2.png" alt="Logo HomeAI" /></a>
            <!-- <h1><a href="/index.html">Diagnosticador de COVID-19</a></h1> -->
        </div>
        <!-- <div class="cloud-logo">
            <a class = "cabe-direita" href="https://dataplatform.cloud.ibm.com/home2?context=cpdaas"><img src="/IBM_Cloud.png" alt="Logo IBM Cloud"/></a>
            <h1><a class = "cabe-direita" href="https://dataplatform.cloud.ibm.com/ml-runtime/deployments/6b386324-c218-44c8-a26a-44771f0c687e/test?space_id=497efa9d-bc30-4b16-ae1b-1b5b027dc863&context=cpdaas&flush=true">DEMO v1</a></h1>
        </div-->

        <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
            <a class="navbar-brand" href="/index.html">Diagnosticador de COVID-19</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/funcmemb.html" >Funciones de Membresia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://fontenele.github.io/bootstrap-navbar-dropdowns/" target="_blank">Github</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li> -->
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown1">
                            <li class="dropdown-item" href="#"><a>Action 1</a></li>
                            <li class="dropdown-item dropdown">
                                <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                                    <li class="dropdown-item" href="#"><a>Action 1.1</a></li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown1-1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1.1</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                                            <li class="dropdown-item" href="#"><a>Action 1.1.1</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li> -->

                </ul>
                <!-- <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </div>

    </header>
    <!-- <section class="formulario">
        <div class="container" id="formulario"> -->
    
    <h5>Funciones de Membresía</h2>

    <h9>Galería de los plots de las funciones de membresías de los () variables de entrada y la variable de salida del presente proyecto.</h4>

    <div class="responsive">
    <div class="gallery">
        <a target="_blank" href="Imagenes/FuncionesMembresia/plotFiebre.png"> 
        <img src="Imagenes/FuncionesMembresia/plotFiebre.png" alt="Funciones de Membresia de Fiebre" width="500" height="300">
        </a> 
        
        <div class="desc">Síntoma de Fiebre</div>
    </div>
    </div>


    <div class="responsive">
    <div class="gallery">
        <a target="_blank" href="Imagenes/FuncionesMembresia/plotEdad.png">
        <img src="Imagenes/FuncionesMembresia/plotEdad.png" alt="Funciones de Membresia de Edad" width="500" height="300">
        </a>
        <div class="desc">Rango de Edades</div>
    </div>
    </div>

    <div class="responsive">
    <div class="gallery">
        <a target="_blank" href="Imagenes/FuncionesMembresia/plotDiabetes.png">
            <img src="Imagenes/FuncionesMembresia/plotDiabetes.png" alt="Funciones de Membresia de Diabetes" width="500" height="300">
            </a>
            <div class="desc">Diabetes - Niveles de glucosa en la sangre</div>
    </div>
    </div>

    <div class="responsive">
    <div class="gallery">
        <a target="_blank" href="Imagenes/FuncionesMembresia/plotHistV.png">
            <img src="Imagenes/FuncionesMembresia/plotHistV.png" alt="Funciones de Membresia de Historial de Viajes" width="500" height="300">
            </a>
            <div class="desc">Historial de Viajes referido al contacto con algún infectado</div>
    </div>
    </div>

    

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="Imagenes/FuncionesMembresia/plotGarganta.png">
                <img src="Imagenes/FuncionesMembresia/plotGarganta.png" alt="Funciones de Membresia de dolor de garganta" width="500" height="300">
                </a>
                <div class="desc">Dolor de garganta</div>
        </div>
    </div>
    
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="Imagenes/FuncionesMembresia/plotTos.png">
                <img src="Imagenes/FuncionesMembresia/plotTos.png" alt="Funciones de Membresia de Tos" width="500" height="300">
                </a>
                <div class="desc">Grado de Tos</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="Imagenes/FuncionesMembresia/plotPerdida.png">
                <img src="Imagenes/FuncionesMembresia/plotPerdida.png" alt="Funciones de Membresia de Pérdida de Olfato y/o Gusto" width="500" height="300">
                </a>
                <div class="desc">Pérdida de los sentidos de olfato y gusto</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="Imagenes/FuncionesMembresia/plotRespira.png">
                <img src="Imagenes/FuncionesMembresia/plotRespira.png" alt="Funciones de Membresia de Problemas Respiratorios" width="500" height="300">
                </a>
                <div class="desc">Problemas Respiratorios</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="Imagenes/FuncionesMembresia/plotPecho.png">
                <img src="Imagenes/FuncionesMembresia/plotPecho.png" alt="Funciones de Membresia de Dolor en el pecho" width="500" height="300">
                </a>
                <div class="desc">Dolor en el pecho</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="Imagenes/FuncionesMembresia/plotConclu.png">
                <img src="Imagenes/FuncionesMembresia/plotConclu.png" alt="Funciones de Membresia de Conclusion" width="500" height="300">
                </a>
                <div class="desc">Conclusion del diagnóstico</div>
        </div>
    </div>
    <div class="clearfix"></div>
<!-- </div>
</section> -->

</body>
</html>
