<!DOCTYPE html>
<html lang="pt-ES">
    <head>
        <meta charset="UTF-8">
        <title>Fuzzy Logic System for Covid Diagnostique</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="icon" type="image/png" href="Imagenes/HomeAI_logo.png">
        <script src="script.js"> </script>
    </head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/"><img src="Imagenes/icon.png" alt="Logo HomeAI" /></a>
            <div class="brand">
                <a href="/">Diagnosticador de COVID-19</a>
                <a href="" class="menu"><img src="Imagenes/menu.png" alt=""></a>
            </div>
        </div>
        <div class="nav">
                <ul class="">
                    <li class="nav-item active">
                        <a class="" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="/funcmemb.html" >Funciones de Membresia</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="/info.html" >Sobre el proyecto</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="https://github.com/PietroUNMSM/CovidDiagnostic_WebApp" target="_blank">Github</a>
                    </li>
                </ul>
        </div>
    </header>
    <!-- <section class="formulario">
        <div class="container" id="formulario"> -->
    <main class="main2">
        <div>
           <h3>Funciones de Membresía</h3>
            <h9>Galería de los plots de las funciones de membresías de las nueve (9) variables de entrada y la variable de salida del presente proyecto.</h4> 
        </div>
        <div class="funciones">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotFiebre.png"> 
                    <img src="Imagenes/FuncionesMembresia/plotFiebre.png" alt="Funciones de Membresia de Fiebre" width="500" height="300">
                    </a> 
                    <div class="desc"><b>Síntoma de Fiebre</b></div>
                </div>
                <div class="gallery-info">
                    <p>
                        Se consideraron tres funciones de membresia triangular de acuerdo a la temperatura corporal del usuario en el rango de 36 a 40 °C. 
                        <br> Se establecieron los siguientes rangos lingüisticos en Python:
                        <ul style="padding-left: revert;">
                            <li>Fiebre baja: [35.3, 36.7, 38]</li>
                            <li>Fiebre media: [37, 38.3, 39.67]</li>
                            <li>Fiebre alta: [38.67, 40, 41.3]</li>
                        </ul>
                    </p>
                    
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotEdad.png">
                    <img src="Imagenes/FuncionesMembresia/plotEdad.png" alt="Funciones de Membresia de Edad" width="500" height="300">
                    </a>
                    <div class="desc"><b>Rango de Edades</b></div>
                </div>
                <div class="gallery-info">
                    <p>
                        Se consideraron tres funciones de membresia triangular de acuerdo a la edad usuario. 
                        <br> Se establecieron los siguientes rangos lingüisticos en Python:
                        <ul style="padding-left: revert;">
                            <li>Edad menor a 40 años: [-14, 10, 34]</li>
                            <li>Edad entre 40 a 50 años: [16, 40, 64]</li>
                            <li>Edad mayor a 50 años: [46, 70, 94]</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotDiabetes.png">
                        <img src="Imagenes/FuncionesMembresia/plotDiabetes.png" alt="Funciones de Membresia de Diabetes" width="500" height="300">
                        </a>
                        <div class="desc"><b>Diabetes - Niveles de glucosa en la sangre</b></div>
                </div>
                <div class="gallery-info">
                    <p>
                        Se consideraron tres funciones de membresia triangular de acuerdo a la cantidad de glucosa en la sangre (mg/dl) del usuario para determinar su nivel de diabetes. 
                        <br> Se establecieron los siguientes rangos lingüisticos en Python:
                        <ul style="padding-left: revert;">
                            <li>Nivel bajo o normal: [110, 140, 170]</li>
                            <li>Nivel medio o pre diabetes: [147.5, 177.5, 207.5]</li>
                            <li>Nivel alto o diabetes: [185, 215, 245]</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotHistV.png">
                        <img src="Imagenes/FuncionesMembresia/plotHistV.png" alt="Funciones de Membresia de Historial de Viajes" width="500" height="300">
                        </a>
                        <div class="desc"><b>Contacto con algún infectado</b></div>
                </div>
                <div class="gallery-info">
                    <p>
                        Se consideraron tres funciones de membresia triangular de acuerdo al contacto que tuvo el usuario con alguien infectado. 
                        <br> Se establecieron los siguientes rangos lingüisticos en Python:
                        <ul style="padding-left: revert;">
                            <li>Con ningun infectado: [-0.4, 0, 0.4]</li>
                            <li>Duda de contacto con algún infectado: [0.1, 0.5, 0.9]</li>
                            <li>Sí tuvo contacto con alguien infectado: [0.6, 1, 1.4]</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotGarganta.png">
                        <img src="Imagenes/FuncionesMembresia/plotGarganta.png" alt="Funciones de Membresia de dolor de garganta" width="500" height="300">
                        </a>
                        <div class="desc"><b>Dolor de garganta</b></div>
                </div>
                <div class="gallery-info">
                    <p>
                        Se consideraron tres funciones de membresia triangular respecto al grado de dolor de garganta que presenta el usuario entre 0 a 1. 
                        <br> Se establecieron los siguientes rangos lingüisticos en Python:
                        <ul style="padding-left: revert;">
                            <li>Dolor bajo de garganta: [-0.4, 0, 0.4]</li>
                            <li>Dolor medio de garganta: [0.1, 0.5, 0.9]</li>
                            <li>Dolor alto de garganta: [0.6, 1, 1.4]</li>
                        </ul>
                    </p>
                </div>
            </div>
            
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotTos.png">
                        <img src="Imagenes/FuncionesMembresia/plotTos.png" alt="Funciones de Membresia de Tos" width="500" height="300">
                        </a>
                        <div class="desc"><b>Grado de Tos</b></div>
                </div>
                <div class="gallery-info">
                    <p>
                        Se consideraron tres funciones de membresia triangular respecto al grado de tos que presenta el usuario entre 0 a 1. 
                        <br> Se establecieron los siguientes rangos lingüisticos en Python:
                        <ul style="padding-left: revert;">
                            <li>Grado bajo de tos: [-0.4, 0, 0.4]</li>
                            <li>Grado medio de tos: [0.1, 0.5, 0.9]</li>
                            <li>Grado alto de tos: [0.6, 1, 1.4]</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotPerdida.png">
                        <img src="Imagenes/FuncionesMembresia/plotPerdida.png" alt="Funciones de Membresia de Pérdida de Olfato y/o Gusto" width="500" height="300">
                        </a>
                        <div class="desc"><b>Pérdida de los sentidos de olfato y gusto</b></div>
                </div>
                <div class="gallery-info">
                    <p>
                        Se consideraron tres funciones de membresia triangular respecto al grado de pérdida de los sentidos de olfato y/o gusto que presenta el usuario entre 0 a 1. 
                        <br> Se establecieron los siguientes rangos lingüisticos en Python:
                        <ul style="padding-left: revert;">
                            <li>Pérdida baja o leve del olfato y/o gusto: [-0.4, 0, 0.4]</li>
                            <li>Pérdida media del olfato y/o gusto: [0.1, 0.5, 0.9]</li>
                            <li>Pérdida alta o total del olfato y/o gusto: [0.6, 1, 1.4]</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotRespira.png">
                        <img src="Imagenes/FuncionesMembresia/plotRespira.png" alt="Funciones de Membresia de Problemas Respiratorios" width="500" height="300">
                        </a>
                        <div class="desc"><b>Problemas Respiratorios</b></div>
                </div>
                <div class="gallery-info">
                    <p>
                        Se consideraron tres funciones de membresia triangular respecto al grado de problemas respiratorios que presenta el usuario entre 0 a 1. 
                        <br> Se establecieron los siguientes rangos lingüisticos en Python:
                        <ul style="padding-left: revert;">
                            <li>Problemas respiratorios bajos: [-0.4, 0, 0.4]</li>
                            <li>Problemas respiratorios medios: [0.1, 0.5, 0.9]</li>
                            <li>Problemas respiratorios altos: [0.6, 1, 1.4]</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="Imagenes/FuncionesMembresia/plotPecho.png">
                        <img src="Imagenes/FuncionesMembresia/plotPecho.png" alt="Funciones de Membresia de Dolor en el pecho" width="500" height="300">
                        </a>
                        <div class="desc"><b>Dolor en el pecho</b></div>
                </div>
                <div class="gallery-info">
                    <p>
                        Se consideraron tres funciones de membresia triangular respecto al grado de dolor en el pecho que presenta el usuario entre 0 a 1. 
                        <br> Se establecieron los siguientes rangos lingüisticos en Python:
                        <ul style="padding-left: revert;">
                            <li>Dolor bajo en el pecho: [-4, 0, 4]</li>
                            <li>Dolor medio en el pecho: [1, 5, 9]</li>
                            <li>Dolor alto en el pecho: [6, 10, 14]</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <h2 class="con-title"><b>Conclusion</b></h2>
        <div class="responsive-conclusion">
            <div class="gallery" style="margin-left: auto; margin-right: auto;">
                <a target="_blank" href="Imagenes/FuncionesMembresia/plotConclu.png">
                    <img src="Imagenes/FuncionesMembresia/plotConclu.png" alt="Funciones de Membresia de Conclusion" width="500" height="300">
                    </a>
                    <div class="desc"><b>Conclusion del diagnóstico</b></div>
            </div>
            <div class="gallery-info">
                <p>
                    Se consideraron tres funciones de membresia triangular respecto al resultado del diagnóstico del usuario entre 0 y 1. 
                    <br> Se establecieron los siguientes rangos lingüisticos en Python:
                    <ul style="padding-left: revert;">
                        <li>Caso negativo: [-0.4, 0, 0.4]</li>
                        <li>Cuarentena como recomendación: [0.1, 0.5, 0.9]</li>
                        <li>Caso positivo: [0.6, 1.0, 1.4]</li>
                    </ul>
                </p>
            </div>
        </div>
    </main>
    

    

    

    

    
    <div class="clearfix"></div>
<!-- </div>
</section> -->

</body>
</html>
