<!DOCTYPE html>
<html lang="pt-ES">
    <head>
        <meta charset="UTF-8">
        <title>Fuzzy Logic System for Covid Diagnostique</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="icon" type="image/png" href="Imagenes/HomeAI_logo.png">
        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        <script src="script.js"> </script>
    </head>
<body>
    <header class="site-header">
        <div class="site-identity">
            <a href="/"><img src="Imagenes/logo helping others dedos v2.png" alt="Logo HomeAI" /></a>
            <!-- <h1><a href="/index.html">Diagnosticador de COVID-19</a></h1> -->
        </div>
        <!-- <div class="cloud-logo">
            <a class = "cabe-direita" href="https://dataplatform.cloud.ibm.com/home2?context=cpdaas"><img src="/IBM_Cloud.png" alt="Logo IBM Cloud"/></a>
            <h1><a class = "cabe-direita" href="https://dataplatform.cloud.ibm.com/ml-runtime/deployments/6b386324-c218-44c8-a26a-44771f0c687e/test?space_id=497efa9d-bc30-4b16-ae1b-1b5b027dc863&context=cpdaas&flush=true">DEMO v1</a></h1>
        </div-->

        <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
            <a class="navbar-brand" href="/index.html">Diagnosticador de COVID-19</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/funcmemb.html" >Funciones de Membresia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://fontenele.github.io/bootstrap-navbar-dropdowns/" target="_blank">Github</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li> -->
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown1">
                            <li class="dropdown-item" href="#"><a>Action 1</a></li>
                            <li class="dropdown-item dropdown">
                                <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                                    <li class="dropdown-item" href="#"><a>Action 1.1</a></li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown1-1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1.1</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                                            <li class="dropdown-item" href="#"><a>Action 1.1.1</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li> -->

                </ul>
                <!-- <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </div>



    </header>
    <section class="formulario">
        <div class="container" id="formulario">
            <div class="title">
                Diagnostique si puede padecer de COVID-19
            </div>
            
            <div class="conteudo" id="conteudo">
                <form class='form_master' id='form_master' action='/resultado' method='POST'>
                    <div class="user-detalhes">
                        <!--Fiebre-->
                        <div class="input-box">
                            <span class="detalhes">¿Cuál es su Temperatura Corporal?</span>
                            <input type="number" step="0.01" pattern="[0-9]+([,\.][0-9]+)?" formnovalidate  name="fiebre" required>
                        </div>
                        

                        <!--Edad-->
                        <div class="input-box">
                            <span class="detalhes">¿Cuál es su edad?</span>
                            <input type="number" name="age" required>
                            
                        </div>

                        <!--Diabetes-->
                        <div class="input-box">
                            <span class="detalhes">¿Cuál es su Nivel de Glucosa en la sangre (mg/dl)?</span>
                            <input type="number" step="0.01" pattern="[0-9]+([,\.][0-9]+)?" formnovalidate  name="diabetes" required>
                            
                        </div>

                        <!--Historial de viaje-->
                        <div class="input-box">
                        
                            <div class="tooltip">¿Ha tenido contacto con algún contagiado de COVID-19?
                                <span class="tooltiptext"> Valore este síntoma en un rango del 0 al 1 </br> 0 si no lo padece </br> 1 si lo padece</span>
                            </div>
                                
                            <div class="slidecontainer">
                                <input type="range" min="0.00" max="1.00" step="0.01" value="0.00" class="slider" id="rangeHist" name="nameHist">
                                <p>Input: <span id="inputHist"></span></p>
                            </div>
                            
                            <script>
                                var sliderHist = document.getElementById("rangeHist");
                                var outputHist = document.getElementById("inputHist");
                                outputHist.innerHTML = sliderHist.value;
                                
                                sliderHist.oninput = function() {
                                    outputHist.innerHTML = this.value;
                                }
                            </script>
                        </div>

                        
                        <!--Dolor de garganta-->
                        <div class="input-box">
                            

                                <div class="tooltip">¿Presenta dolor de garganta?
                                    <span class="tooltiptext"> Valore este síntoma en un rango del 0 al 1 </br> 0 si no lo padece </br> 1 si lo padece</span>
                                </div>
        

                            <div class="slidecontainer">
                                <input type="range" min="0.0" max="1.00" value="0.00" step="0.01" class="slider" id="rangeGarganta" name="nameGarganta">
                                <p>Input: <span id="inputGarganta"></span></p>
                            </div>

                            <script>
                                var sliderGarganta = document.getElementById("rangeGarganta");
                                var outputGarganta = document.getElementById("inputGarganta");
                                outputGarganta.innerHTML = sliderGarganta.value;
                                
                                sliderGarganta.oninput = function() {
                                    outputGarganta.innerHTML = this.value;
                                }
                                </script>
                        </div>    

                        <!--tos-->
                        <div class="input-box">
        
                                <div class="tooltip">¿Presenta tos?
                                    <span class="tooltiptext"> Valore este síntoma en un rango del 0 al 1 </br> 0 si no lo padece </br> 1 si lo padece</span>
                                </div>
    

                                <div class="slidecontainer">
                                    <input type="range" min="0.0" max="1.00" value="0.00" step="0.01" class="slider" id="rangeTos" name="nameTos">
                                    <p>Input: <span id="inputTos"></span></p>
                                </div>
        
                                <script>
                                    var sliderTos = document.getElementById("rangeTos");
                                    var outputTos = document.getElementById("inputTos");
                                    outputTos.innerHTML = sliderTos.value;
                                    
                                    sliderTos.oninput = function() {
                                        outputTos.innerHTML = this.value;
                                    }
                                    </script>
                            
                        </div> 

                        <!--Perdida de olfato y gusto-->
                        <div class="input-box">
                            
                                <div class="tooltip">¿Ha perdido el sentido del olfato y el gusto?
                                    <span class="tooltiptext"> Valore este síntoma en un rango del 0 al 1 </br> 0 si no lo padece </br> 1 si lo padece</span>
                                </div>
                            

                                <div class="slidecontainer">
                                    <input type="range" min="0.0" max="1.00" value="0.00" step="0.01" class="slider" id="rangePerdida" name="namePerdida">
                                    <p>Input: <span id="inputPerdida"></span></p>
                                </div>
        
                                <script>
                                    var sliderPerdida = document.getElementById("rangePerdida");
                                    var outputPerdida = document.getElementById("inputPerdida");
                                    outputPerdida.innerHTML = sliderPerdida.value;
                                    
                                    sliderPerdida.oninput = function() {
                                        outputPerdida.innerHTML = this.value;
                                    }
                                </script>
                        </div> 
                        
                        <!--Problema respiratorio-->
                        <div class="input-box">
                            
                                <div class="tooltip">¿Presenta problemas respiratorios?
                                    <span class="tooltiptext"> Valore este síntoma en un rango del 0 al 1 </br> 0 si no lo padece </br> 1 si lo padece</span>
                                </div>


                                <div class="slidecontainer">
                                    <input type="range" min="0.0" max="1.00" value="0.00" step="0.01" class="slider" id="rangeRespira" name="nameRespira">
                                    <p>Input: <span id="inputRespira"></span></p>
                                </div>
        
                                <script>
                                    var sliderRespira = document.getElementById("rangeRespira");
                                    var outputRespira = document.getElementById("inputRespira");
                                    outputRespira.innerHTML = sliderRespira.value;
                                    
                                    sliderRespira.oninput = function() {
                                        outputRespira.innerHTML = this.value;
                                    }
                                </script>
                        </div>

                        <!--Dolor en el pecho-->
                        <div class="input-box">

                                <div class="tooltip">¿Presenta dolor en el pecho?
                                    <span class="tooltiptext"> Valore este síntoma en un rango del 0 al 10 </br> 0 si no lo padece </br> 10 si lo padece</span>
                                </div>
                
                                <div class="slidecontainer">
                                    <input type="range" min="0.0" max="10" value="0" step="1" class="slider" id="rangePecho" name="namePecho">
                                    <p>Input: <span id="inputPecho"></span></p>
                                </div>
        
                                <script>
                                    var sliderPecho = document.getElementById("rangePecho");
                                    var outputPecho = document.getElementById("inputPecho");
                                    outputPecho.innerHTML = sliderPecho.value;
                                    
                                    sliderPecho.oninput = function() {
                                        outputPecho.innerHTML = this.value;
                                    }
                                </script>

                        </div>

                    </div>
                    
                    <div class="button">
                        <input type="submit" value="Calcular" onclick="geraSpinner()">
                    </div> 
                </form>
            </div> 
        </div>     
        
        </div>
            <div id="block_desativado">
                <div id = "spinner_desativado"></div>
            </div>
        </div>
    </section>    
     
</body>
</html>
