/* Importando Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

/*NAVBAR*/
.navbar .dropdown-toggle, .navbar .dropdown-menu a {
  cursor: pointer;
}

.navbar .dropdown-item.active, .navbar .dropdown-item:active {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

/* @media (min-width: 767px) {
  .navbar .dropdown-toggle:not(.nav-link)::after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .5em;
      vertical-align: 0;
      border-bottom: .3em solid transparent;
      border-top: .3em solid transparent;
      border-left: .3em solid;
  }
} */



/*Formateando encabezado*/

a {
  text-decoration: none;
  color: #000;
}
.site-header { 
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
  background-color: white;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-identity {
  float: left;
}

.site-identity h1 {
  font-size: 1em;
  margin: .7em 0 .3em 0;
  display: inline-block;
}

.site-identity img {
  max-width: 40px;
  float: left;
  margin: 0 10px 0 0;
}

.cloud-logo {
  float: right;
}

.cloud-logo img {
  max-width: 80px;
  float: right;
  margin: 0 5px 0 0;
}

.cloud-logo h1 {
  font-size: .5em;
  margin: 2.3em .2em .3em 0;
  display: inline-block;
}

/*Formato del formulario*/
body{
  background: linear-gradient(135deg, #000, #000);  
}

.formulario{
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media screen and (max-height: 630px){
  .formulario{
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .formulario2{
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}

.container{
  max-width: 1000px;
  width: 90%;
  background-color: rgba(236, 178, 92, 0.973);
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.imagenes{
  position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 20%;
}

.container .title{
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 260px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #0043ce);
}

.conteudo form .user-detalhes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 0 0;
  font-size: 14px;
}

form .user-detalhes .input-box{
  margin-bottom: 13px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.detalhes{
  display: flex;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-detalhes .input-box input{
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-detalhes .input-box select{
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }


form .button{
   height: 35px;
}

 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #043b3f, #043b3f);
 }

 form .button input:hover{
  background: linear-gradient(-135deg, #741f85, #741f85);
  }

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}

form .user-detalhes .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .conteudo form .user-detalhes{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-detalhes::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .conteudo .category{
    flex-direction: column;
  }
}

/*Manipulando resultado*/

.resultado{
  text-align: center;
}

.valor_resultado{
  color: #24a148;
  font-size: 30px;
}

.valor_estado{
  color: #fd2f2f;
  font-size: 30px;
}

/*Manipulando spinner de carga*/

#block_ativado {
  display: flex;
  justify-content: center;
}

#spinner_ativado {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #71b7e6;
  border-radius: 70%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgb(97, 13, 156);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*SLIDER*/
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}





