/* Importando Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  /* align-items: center; */
}

/*HEADER*/
.header{
  background-color: #404258;
  display: flex;
  padding: 10px;
}
.header img{
  width: 50px;
}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  width: 40%;
  gap: 20px;
}
.nav{
  padding-left: 10px;
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.nav li{
  list-style: none;
}
a{
  color: #FFF;
  text-decoration: none;
}
.nav a{
  padding: 8px 16px;
}
.nav  a:hover {
  background-color: #6B728E;
}
.menu{
  display: none;
}
.menu > img{
  width: 30px;
  filter: invert(100%);
}
.brand{
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .header{
    flex-direction: column;
    padding-bottom: 20px;
  }
  .logo, .nav{
    width: 100%;
  }
  .nav{
    justify-content: center;
  }
}
@media (max-width: 544px) {
  .header{
    padding-bottom: 0;
  }
  .nav{
    display: none;
  }
  .menu{
    display: block;
  }
}
/* MAIN */
.main{
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 30px;
  column-gap: 50px;
}
.result{
  grid-template-columns: 1fr;
  row-gap: 20px;
}
section{
  padding: 20px;
  border: #dadbdd dashed 1px;
  height: 100%;
}
.container{
  width: 100%;
  padding: 20px 30px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.user-detalles{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 30px;
}
.box-all{
  grid-column: 1/3;
}
@media (max-width: 1300px) {
  .user-detalles{
    grid-template-columns: 1fr;
  }
  .box-all{
    grid-column: 1/1;
  }
  .main{
    column-gap: 20px;
  }
}
@media (max-width: 1080px) {
  .main{
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: 85%;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .main{
    width: 95%;
  }
}
.input-box{
  margin: 8px 0;
}
.input-box input{
  height: 35px;
  width: 100%;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: none;
}
.input-box .slider {
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.input-box .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #08c440;
  cursor: pointer;
}

.input-box .slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #321288;
  cursor: pointer;
}

/* Tooltip container */
.tooltip {
  height: 50px;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}

@media (max-width: 1300px) {
  .tooltip{
    height: auto;
  }
}

.tooltip .help{
  width: 15px;
}
.tooltip .help:hover{
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 380px;
  background-color: #404258;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
form .button{
  height: 45px;
}

form .button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #04AA6D;
}

form .button input:hover{
 background: #000;
 }



.imagenes{
  position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 20%;
}





/*Manipulando resultado*/

.resultado{
  text-align: center;
}

.valor_resultado{
  color: #24a148;
  font-size: 30px;
}

.valor_estado{
  color: #fd2f2f;
  font-size: 30px;
}

/*Manipulando spinner de carga*/
.modal{
  position: fixed;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
/*#block_desactivado{
  opacity: 1;
  pointer-events: auto;
}*/

.show-modal {
  opacity: 1;
  pointer-events: auto;
}
.modal-body{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-body p{
  margin-top: 15px;
  color: #FFF;
  font-size: 20px;
}

.spinner {
  display: block;
  border: 15px solid rgba(0, 0, 0, 0.514);
  border-left-color: #04AA6D;
  border-radius: 70%;
  width: 200px;
  height: 200px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*PAGIAN DE RESULTADOS*/
.result-details{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  gap: 40px;
  margin: 15px;
}
.result-details p{
  margin: 15px auto;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
#chartResultado{
  margin: 0 auto;
}
.negativo{
  background-color: #ffd2d2;
}
.cuarentena{
  background-color: #fdf9cd;
}
.positivo{
  background-color: #ccfddb;
}
.baja{
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #ffd2d2;
}
.media{
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #fdf9cd;
}
.alta{
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #ccfddb;
}
.entradas-membresia{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  margin-top: 15px;
}
.entradas-membresia .item{
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.reglas{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.responsive2{
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  padding: 20px;
}
.title-reglas{
  margin: 10px;
  text-align: center;
}
@media (max-width: 1250px) {
  .entradas-membresia{
    grid-template-columns: repeat(2,1fr);
  }
  .entradas-membresia .item{
    height: 470px;
  }
}

@media (max-width: 768px) {
  .entradas-membresia{
    grid-template-columns: repeat(1,1fr);
  }
}

/*FUNCIONES DE MEMBRESIA*/
.main2{
  width: 90%;
  margin: 20px auto;
  margin-bottom: 50px;
}
.funciones{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 20px;
  gap: 20px;
}
.responsive{
  display: flex;
  justify-content: center;
  padding: 20px;
  border: #dadbdd dashed 1px;
  gap: 10px;
}
.responsive-conclusion{
  padding: 30px;
  display: flex;
  width: 60%;
  margin: 20px auto;
  gap: 20px;
  border: #a3c1fd dashed 3px;
}
.gallery-info{
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.con-title{
  margin-top: 20px;
  text-align: center;
}
@media (max-width:1550px) {
  .responsive{
    flex-direction: column;
    align-items: center;
  }
  .responsive-conclusion{
    flex-direction: column;
  }
}
@media (max-width:1200px) {
  .funciones{
    grid-template-columns: 1fr;
  }
  .responsive{
    flex-direction: row;
  }
  .responsive-conclusion{
    width: 100%;
    flex-direction: row;
  }
}
@media (max-width:900px) {
  .responsive{
    flex-direction: column;
    align-items: center;
  }
  .responsive-conclusion{
    flex-direction: column;
  }
}
/*ESTILOS PARA ERRORES Y PERSISTENCIA*/
.error-input{
  color: #fd2f2f;
  font-size: 12px;
  margin-left: 10px;
  display: none;
}
.show-error{
  display: block;
}
.input-box .medium {
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}
.input-box .medium::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #cec113;
  cursor: pointer;
}
.input-box .high {
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}
.input-box .high::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #ce1913;
  cursor: pointer;
}
.relative{
  position: relative;
}
.ranges{
  height: 35px;
  width: 100%;
  display: flex;
  position: absolute;
}
.range1{
  border-bottom-left-radius: 5px;
  width: 25%;
  background-color: #02da8a;
}
.range2{
  width: 50%;
  background-color: #f5e93e;
}
.range3{
  border-bottom-right-radius: 5px;
  width: 25%;
  background-color: #ee5751;
}
.labels{
  height: 25px;
  width: 100%;
  display: flex;
  text-align: center;
}
.label1{
  border: rgb(189, 189, 189) .05px solid;
  border-right: 0px;
  border-top-left-radius: 5px;
  width: 25%;
}
.label2{
  border: rgb(189, 189, 189) .05px solid;
  border-right: 0px;
  width: 50%;
}
.label3{
  border: rgb(189, 189, 189) .05px solid;
  border-top-right-radius: 5px;
  width: 25%;
}

/* Set additional styling options for the columns*/
.column {
  float: left;
  /* width: 33.3%; */
  text-align: center;
  padding: 5px;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }


